data_engineering/extract/output/*.csv
data_engineering/extract/output/*.txt
!data_engineering/extract/output/.keep
data_engineering/transform/output/*.csv
!data_engineering/transform/output/.keep
*__pycache__/
data_engineering/load/output/*.sql
/data_driven/output/*.csv